<!DOCTYPE html>
<html>
<head>
  <title>Entstudio</title>
  <%= stylesheet_link_tag    "entstudio/application", :media => "all" %>
  <%= javascript_include_tag "entstudio/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
